.idea
node_modules
2018-11-13-raspbian-stretch-lite.img
dist
fusepy
localpy/

spidev.log

*.log

\.python-version

coverage/

\.vscode/settings\.json
.domerc.json
essential-build-artifacts
essential-build-artifacts.zip
build
id_rsa
